<div id="overlay" fxLayout="column" fxLayoutAlign="center center">
  <div class="p-5 rounded-lg" style="background-color: #d1e2f1;">
       <span class="ns-error-message font-weight-bold">
        <i class="fa fa-exclamation-circle error-indicator errorAlert" aria-hidden="true"></i>
        <span class="ns-visually-hidden" style="z-index: 100; position: relative;margin-top: 25%">Error:</span>
         Oops! lost connection to the server.<br/><br/>
         Hang Tight. We are attempting to connect you back...
       </span>
    <div class="ns-error-message p-2">
      {{ (fanState$ | async)?.httpError?.message}}
    </div>
  </div>
</div>
